
body{
    position: relative;
    justify-content: center;
    align-content: center;
}
.navbar {
    margin:0 0 50px;
}
.container .row .col-lg-3 .card {
    width: 300px;
    height: 422px;
    overflow-y: scroll;
}