<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new blog</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet">
    <link rel="stylesheet" href="/style-blog.css">
</head>
<body>
<div th:replace="navbar::nav(${categoryList})"></div>
<div class="container">
    <form th:object="${blog}" action="/add" method="post">
        <div class="mb-3">
            <label for="title" class="form-label">Blog title</label>
            <input th:field="*{title}" type="text" class="form-control" id="title" placeholder="This is a title" required>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Image</label>
            <input th:field="*{imgLink}" type="text" class="form-control" id="img" placeholder="Image link" required>
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input th:field="*{description}" type="text" class="form-control" id="desc" maxlength="200" placeholder="This is a description" required>
        </div>
        <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="category" th:field="*{category}">
                <option th:each="ctg : ${categoryList}" th:text="${ctg.name}"  th:value="${ctg.id}">Open this select menu</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea th:field="*{content}" class="form-control" id="content" rows="3" required></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add</button>
        </div>
    </form>
</div>
<script crossorigin="anonymous"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>